html {
  color: black;
  background-color: white;
}

body {
  /* Remove the default margin around the body so the toolbar blends in
   * with the surrounding chrome and appears to be part of it (rather than
   * having white space all around it, which looks odd). */
  margin: 0;
}

#toolbar {
  font: message-box;
  -moz-box-align: center;
  width: 100%;
}

#messages {
  margin: 10px;
}

#contentBox {
  padding: 7px;

  -moz-column-width: 400px;
  -moz-column-gap: 2em;

  /* This gets set programmatically on load, since setting it in CSS doesn't work. */
  height: 0;
}


/* Show icons in the sources menulist. */
#sourceMenu > menupopup > menuitem > .menu-iconic-left {
  display: block;
}

/* Don't style the buttons natively because they look ugly on Linux.
 * FIXME: test on other platforms and style conditionally as appropriate,
 * and figure out how to make them look pretty on Linux. */
toolbarbutton {
  -moz-appearance: none;
  min-width: 24px;
  min-height: 24px;
}

/* Hide the button labels, since they would otherwise take up space,
 * even if empty, and throw off the centering of the button icons. */
.toolbarbutton-text {
  display: none;
}

/* Make the title and source links look less like links to differentiate
 * between the links in the content and these links in the chrome. */
.source > a, .title > a {
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
.source > a:visited, .title > a:visited {
  color: #555;
}

.message {
  -moz-user-focus: normal;
  -moz-user-select: -moz-all;
  -moz-box-align: baseline;
}

h2 {
  font-size: larger;
  margin-bottom: 0;
}

.byline {
  font-size: smaller;
  font-family: sans-serif;
}

.metadata {
  float: left;
  width: 20%;

  font: message-box;
  font-size: smaller;
}

/* Don't draw borders around hyperlinked favicons, but do pad them a bit
 * between the end of the favicon and the start of the source name. */
a > img {
  border: 0;
  -moz-padding-end: 1px;
}

.subject {
  margin-top: 0;
}

.subject > a {
  font-size: 150%;
  font-weight: bold;
}

label {
  -moz-margin-start: 0;
}
