.entry {
  margin-top: 3em;
}

.source {
  width: 100px;
  float: left;
  margin-right: 35px;
}

.content {
  width: 500px;
  float: left;
}

.timestamp {
  width: 100px;
  float: left;
  margin-left: 35px;
}

h3 {
  margin-top: 0;
}