
toolbarbutton {
  -moz-appearance: none;
}

.toolbarbutton-icon {
  -moz-margin-end: 0;
}

.statusBox > .statusIcon {
  list-style-image: url("chrome://snowl/content/icons/asterisk_orange.png");
}

.statusBox[status="underway"] > .statusIcon {
  list-style-image: url("chrome://global/skin/icons/loading_16.png");
}

.statusBox[status="complete"] > .statusIcon {
  list-style-image: url("chrome://snowl/content/icons/tick.png");
}
