treechildren::-moz-tree-cell-text(unread) {
  font-weight: bold !important
}

/* Don't style the buttons natively because they look ugly on Linux.
 * FIXME: test on other platforms and style conditionally as appropriate,
 * and figure out how to make them look pretty on Linux. */
.snowlToolbarButton {
  -moz-appearance: none;
  min-width: 24px;
  min-height: 24px;
}

/* Hide the button labels, since they would otherwise take up space,
 * even if empty, and throw off the centering of the button icons. */
.snowlToolbarButton .toolbarbutton-text {
  display: none;
}

#snowlViewContainer[placement="top"] #snowlPlacementButton {
  list-style-image: url("chrome://snowl/content/icons/application_tile_horizontal.png");
}

#snowlViewContainer[placement="side"] #snowlPlacementButton {
  list-style-image: url("chrome://snowl/content/icons/application_split.png");
}
