.star-button {
  padding: 1px;
  -moz-padding-start: 4px;
  list-style-image: url("chrome://browser/skin/places/star-icons.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);  
}

.star-button:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);  
}

.star-button:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);  
}

.star-button[starred="true"] {
  -moz-image-region: rect(16px, 16px, 32px, 0px);  
}

.star-button:hover[starred="true"] {
  -moz-image-region: rect(16px, 32px, 32px, 16px);  
}

.star-button:hover:active[starred="true"] {
  -moz-image-region: rect(16px, 48px, 32px, 32px);  
}
