.star-button {
  padding: 0 2px;
  list-style-image: url("chrome://browser/skin/places/bookmark.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.star-button:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

.star-button:hover:active {
  -moz-image-region: rect(0px 48px 16px 32px);
}

.star-button[starred="true"] {
  list-style-image: url("chrome://browser/skin/places/editBookmark.png");
}
