/* Toolbar buttons on Windows and Linux use -moz-appearance: toolbarbutton,
 * which styles them just fine, so they don't need anything special here. */

/* Messages and collections searchbar button dropmarker */
#snowlListViewSearchButton .searchbar-dropmarker-image {
  -moz-margin-start: 12px;
  margin-top: 10px;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
}
